.Shop {
  margin: 30px -20px;
  display: flex;
  flex-wrap: wrap;
}

.ShopCard {
  padding: 20px;
  width: 25%;
}

.ShopCategory {
  cursor: pointer;
}

.ShopCategory:hover {
  transform: scale(1.03);
  transition: transform 150ms;
}

.ShopCategory:hover p {
  background-color: deeppink;
  transition: background-color 150ms;
}

.ShopImageBlock {
  width: 100%;
  background-color: deeppink;
  display: block;
}

.CategoryName {
  background-color: #222222;
  color: #ddd;
  text-transform: uppercase;
  margin: 0;
  padding: 9px;
  font-size: 16px;
}

.CategoryName::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #dddddd;
}

.BackButton {
  background-color: deeppink;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  padding: 12px 30px 12px 25px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 50px;
}

.BackButton::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent #fff transparent transparent;
}

.BackButton:active {
  background-color: #990c57;
}

/*Category css*/
.Category {
  margin: 30px -20px;
  display: flex;
  flex-wrap: wrap;
}

.ItemCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 33.3333%;
}

.ItemCard:hover {
  transform: scale(1.03);
  transition: transform 150ms;
}

.ShopImageBlock_item {
  width: 100%;
  background-color: deeppink;
  display: block;
}

.ItemName,
.ItemPrice {
  background-color: #222222;
  color: #ddd;
  text-transform: uppercase;
  margin: 0;
  padding: 9px;
  font-size: 16px;
  text-align: center;
}

.ItemName {
  flex-grow: 1;
  font-weight: bold;
}

.ItemPrice {
  color: #bbb;
}

.PriceFrom {
  text-transform: lowercase;
  font-style: italic;
}