.AboutUs {
  margin-bottom: 50px;
}

.AboutUsTitle {
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: 4px;
}

.AboutUsText {
  color: #ccc;
}

.AboutUsEmail {
  text-decoration: none;
  color: deeppink;
  margin-left: 5px;
}

.AboutUsEmail:hover {
  color: #990c57;
}