.NavMenuBlock {
  background-color: deeppink;
}

.NavMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.NavLogo {
  height: 50px;
  width: auto;
}

.Navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navigation li {
  display: inline-block;
  margin-left: 30px;
}

.Navigation li:first-child {
  margin-left: 0;
}

.NavItem {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}

.active {
  color: lightpink;
}