.MainBlock {
  width: 100vw;
  height: 43vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 30px;
}

.MainBlockText {
  margin: 0;
  position: absolute;
  top: 23%;
  left: 5%;
  background-color: deeppink;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 72px;
  padding: 10px 30px;
  transform: rotate(-22deg) skewX(-27deg);
}

.DemoCarsBlock {
  margin: 0 50px;
}

.DemoCarsBlock h2,
.DemoCarModel {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 4px;
}

.DemoCarsBlock h2 {
  margin-bottom: 30px;
}

.DemoCarModel {
  margin-bottom: 20px;
}

.DemoCarMods {
  font-size: 16px;
  margin: 0 0 12px 0;
  color: #ccc;
}

.ImageBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #222;
}

.DemoCarBlock:last-child .ImageBlock {
  border: none;
}

.ImageBlock img {
  width: 32%;
}