.ContactUs {
  display: flex;
  flex-direction: column;
}

.ContactUsTitle {
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: 4px;
}

.ContactUsText {
  color: #ccc;
}

.ContactUs input,
.ContactUs textarea {
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 20px;
  margin-bottom: 15px;
}

.ContactUs input {
  height: 48px;
  padding: 0 10px;
}

.ContactUs input:hover,
.ContactUs textarea:hover {
  box-shadow: 0 0 0 3px #990c57;
}

.ContactUs input:focus,
.ContactUs textarea:focus {
  box-shadow: 0 0 0 3px deeppink;
}

.ContactUs input::placeholder,
.ContactUs textarea::placeholder {
  color: #ddd;
}

.ContactUs textarea {
  height: 144px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  padding: 5px 10px;
}

.SendButton {
  align-self: flex-start;
  background-color: deeppink;
  border: none;
  font-size: 18px;
  color: #fff;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
}

.SendButton:active {
  background-color: #990c57;
}