.FooterBlock {
  background-color: #222;
}

.Footer {
  padding: 30px 0;
}

.FooterNav {
  display: flex;
  justify-content: space-between;
}

.FooterNavItem {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.FooterSocials {
  margin: 30px 0 20px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.FooterCredits p {
  font-size: 14px;
  color: #999;
  margin: 0;
  text-align: center;
}